<div class="hero-unit">
  <h1>rails-test</h1>
   <p>Blog</p>
</div>

<% @posts.each do |post| %>
<div class="post">
  <h3 class="post-title">
    <%= post.title %>
  </h3>
  
  <div class="post-header">
    <p>
      Posted by 
      <b>
        <%= link_to post.user, {:action => "index", :username => post.user }%>
      </b>
      at <%= post.created_at %>
    </p>
    <p>
      Tags: 
      <% post.tags.any? %>
      <% post.tags.each do |tag| %>
      <%= link_to tag.name, {:action => "index", :tag => tag.name }%>
      <% end %>
    </p>
  </div>

  <div class="post-body">
    <%= post.body %>
  </div>
</div>

<a href=<%= url_for post %> class="btn btn-info">
  More
</a>

<% if current_user && post.user == current_user.username %>
<a href=<%= url_for edit_post_path(post) %> class="btn btn-standart">
  Edit
</a>
<% end %>

<% if current_user &&  post.user == current_user.username %>
<a href=<%= url_for(post) %> data-method="delete" class="btn btn-danger">
  Destroy
</a>
<% end %>

<% end %>

<div class="row">
  <div class="span2">
    <div class="btn-group">
      <button class="btn"></button>
    </div>
  </div>
</div>
</div>​