<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= link_to @post.user.name, {:action => "index", :username => @post.user.name }%>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Tags: </b>
  <% @post.tags.any? %>
  <% @post.tags.each do |tag| %>
  <%= link_to tag.name, {:action => "index", :tag => tag.name }%>
  <% end %>
</p>

<% if current_user && @post.user.name == current_user.name %>
<a href=<%= url_for edit_post_path(@post) %> class="btn btn-standart">
  Edit
</a>
<% end %>

<% if current_user && @post.user.name == current_user.name %>
<a href=<%= url_for(@post) %> data-method="delete" class="btn btn-danger">
  Destroy
</a>
<% end %>
<br><br>

<%= form_for(Comment.new) do |f| %>
<div class="comment-new">
  <%= f.hidden_field :post, value: @post.id %>
  <%= f.text_area :body, :size => "10x2"%>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
  Add coment
  <% end %>
</div>
<% end %>

<% @comments.each do |f| %>
<div class="comments">
  <div class="comments-header">
    <% if f.user != nil %>
      <b><%= f.user.name %></b>
    <% else %>
      <b>Anonymous</b>
    <% end %>
    at <%= f.created_at %>
  </div>
  <div class="comments-body">
    <%= f.body %>
  </div>
</div>
<br>

<% end %>


