<p id="notice"><%= notice %></p>

<p>
	<b>User:</b>
	<%= @post.user %>
</p>

<p>
	<b>Title:</b>
	<%= @post.title %>
</p>

<p>
	<b>Body:</b>
	<%= @post.body %>
</p>

<a href=<%= url_for edit_post_path(@post) %> class="btn btn-standart">
	Edit
</a>

<a href="/" class="btn btn-primary">
	Back
</a>
