<!DOCTYPE html>
<html>
<head>
	<title>Welcome to blog</title> 
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner ">
			<div class="container">
				<p class="navbar-text"></p>
				<ul class="nav pull-right">
					<li>
						<a href="/users/sign_in" >
							SignIn
						</a>
					</li>
					<li>
						<a href="/users/sign_up">
							SignUp
						</a>
					</li>		
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span2 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix" style="width:100px;">
					<li>
						<a href="/">
							<i class="icon-chevron-right"></i>
							Home
						</a>
					</li>
					<li>		
						<%= form_tag('/', :method => 'GET',:style => "height: 16px;") do -%>							
						<%= text_field_tag :username, params[:username],:style => "width: 85px;", :placeholder => 'Author'%>
						<%= submit_tag 'Search Author', :style => "visibility: hidden;"  %>
						<% end -%>
					</li>
					<li>		
						<%= form_tag('/', :method => 'GET') do -%>
						<%= text_field_tag :tag, params[:tag],:style => "width: 85px;", :placeholder => 'Tag'%>
						<%= submit_tag 'Search Tag', :style => "visibility: hidden;"  %>
						<% end -%>
					</li>
				</ul>
			</div>

			<div class="span10">
				<%= yield %>
			</div>
			
		</div>
	</div>
</body>
</html>
